body
{
   background: url("/static/img/sun_pattern.png");
}
.header-div
{
  border:4px solid #336699;
  border-top: none;
  display:inline-block;
  width:100%;
}
.header-topic-div
{
  text-align: center;
  margin-right:10%;
}
h1
{
    font-size:30px;
    color:#2d5986;
    padding:1%;
}
img
{
  width:100%;
}
label
{
  float:left;
  margin:1%;
  font-size:24px;
  color:#2d5986;
}
a:link
{
  color: #fff;
	text-decoration: none;
}

a:visited
{
    color: #fff;
}

a:hover
{
    color: #fff;
}

a:active
{
	color: #fff;
}
.container-fluid
{
  margin-top:1%;
  text-align: center;
  margin-top:0;
}
.city-logo
{
  display:inline-block;
  margin-top:1%;
  cursor:pointer;
}
.overlay
{
  position:relative;
  width:100%
}
.overlay .city-flats-info
{
  position:absolute;
  display:block;
  width:100%;
  height:40px;
  background-color: #111111;
  left:0;
  bottom:0;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  font-size:16px;
}
.overlay:hover .city-flats-info
{
  opacity:0.7;
}
#form-cont
{
  padding-top:2%;
  padding-bottom:2%;
  width:100%;
}
.form-parts
{
  float:left;
  width:15%;
  padding-left:1%;
  margin:0;
}
.jumbotron
{
  background: none;
}
.clearboth
{
  clear:both;
}
.datepicker
{
    z-index:'1001';
}

.flat-list-elements
{
  border:2px solid #2d5986;
  margin:2%;
  position:relative;
}
.flat-list-img
{
  width:30%;
  float:left;
}
.flat-list-info
{
  color: #00004d;
  float:left;
  width:70%;
}
.flat-list-header
{
  float:left;
  margin-top:2%;
  width:70%;
}
.flat-list-header a
{
  color:#00004d;
}
.flat-list-prize
{
  float:right;
  background-color: #ff8566;
  padding:1%;
  border-bottom-left-radius: 25px;
}
.flat-list-desc
{
  margin:2%;
  border:2px dotted #002080;
  text-align:left;
  background-color: rgba(0, 32, 128, 0.1);
  padding:1%;
}
.deposit-true
{
  background-color: #80ff80;
}
.deposit-false
{
  background-color: #ff3333;
}
.deposit-div-position
{
  position:absolute;
  right:0;
  bottom:0;
  padding:1%;
  border-top-left-radius: 25px;
}
.error-list
{
  text-align:left;
  color:red;
  margin-top:1%;
}
.unavailable-flats-info
{
  color:#2d5986;
  font-size:36px;
}
#flat-detail-content
{
  border:4px solid #9999ff;
  padding-left:1%;
  display:flex;
}
#flat-detail-info
{
  flex:1;
  float:left;
  font-size:36px;
  position:relative;
  width:50%;
  padding-top:1%;
}
#flat-detail-photo
{
  flex:1;
  float:right;
  width:50%;
  padding:1%;
  padding-left:0;
}
#flat-details-desc
{
  font-size:24px;
  color:#000080;
  text-align: justify;
  margin-top:5%;
  padding:1%;
  padding-right:2%;
  border-top:2px dotted #002080;
  border-bottom:2px dotted #002080;
}
#flat-detail-header
{

  text-align:left;
  color:#00004d;
}
#flat-detail-form
{
  float:left;
}
.pos-response-mess
{
  float:left;
  color: #1aff1a;
  font-size:16px;
  border:2px solid #1aff1a;
  padding:5px;
}
.neg-response-mess
{
  float:left;
  color: #00004d;
  font-size:24px;
}
#detail-deposit
{
  margin-bottom:2%;
}
.menu-icons
{
  width:5%;
  margin-left:5%;
  float:left;
}
