{% extends "base_generic.html" %}

{% block content %}
  <header>
    <div class="header-div">
      <div class="menu-icons">
        {% load static %}
        <a href="{% url 'searching_panel' cityname=flat.city %}"><img src="{% static 'img/back.png' %}" alt="back"/></a>
      </div>
      <div class="header-topic-div">
        <h1>Step 3. Reserve your flat  </h1>
      </div>
    </div>
  </header>
  <article>
    <section>
      <div class="conteinter-fluid">
        <div class="flat-detail-form">
          <div id="form-cont" class="justify-content-md-center">
            <form id="myform" action="" method="POST">
              {% csrf_token %}
              <div class="input-group form-parts">
                {{ form.date_of_rent }}
                <div class="input-group-addon">
                    <span class="glyphicon-th"></span>
                </div>
              </div>
              <div class="input-group form-parts">
                {{ form.date_of_surrender }}
                <div class="input-group-addon">
                    <span class="glyphicon-th"></span>
                </div>
              </div>
              <div class="input-group form-parts">
                {{ form.lastname }}
                <div class="input-group-addon">
                    <span class="glyphicon-th"></span>
                </div>
              </div>
              <div class="input-group form-parts">
                {{ form.phone_number }}
                <div class="input-group-addon">
                    <span class="glyphicon-th"></span>
                </div>
              </div>
              <div class="input-group form-parts">
                {{ form.flat }}
                <div class="input-group-addon">
                    <span class="glyphicon-th"></span>
                </div>
              </div>
              <div class="form-parts">
                <input type="submit" name="Submit" class="btn btn-info" value="Rent">
              </div>
              <div class="{% if validation %} pos-response-mess {% else %} neg-response-mess {% endif %}">
                {{mess}}
              </div>
              <div class="clearboth">
              </div>
              <div class="error-list">
                {{form.non_field_errors}}
              </div>
            </form>
        </div>
        </div>
        <div id="flat-detail-content">
          <div id="flat-detail-info">
          <div class="flat-list-prize">
            <h2>{{flat.prize}} zł/dobę</h2>
          </div>
          <div id="flat-detail-header">
            <h2>ul. {{flat.adress}}, {{flat.city}}</h2>
          </div>
          <div id="detail-deposit" class="{% if flat.deposit %} deposit-true {% else %} deposit-false {% endif %} deposit-div-position">
              {% if flat.deposit %}
                <h3>Kaucja: Tak</h3>
              {% else %}
                <h3>Kaucja: Nie</h3>
              {% endif %}
          </div>
          <div id="flat-details-desc">
            {{ flat.description }}
          </div>
          </div>
          <div id="flat-detail-photo">
            <img src="{{flat.photo.url}}" alt="flat-photo">
          </div>
          <div class="clearboth">
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock %}
