{% extends "base_generic.html" %}

{% block content %}
<header>
  <h1>Step 2. Set a date</h1>
</header>
<article>
  <section>
    <div class="container-fluid">
        <div id="gda-logo" class="city-logo col-12 col-md-4">
          <div class="overlay">
            {% load static %}
            <img src="{% static 'img/gdansk-menu-photo.jpg'%}" class="img-fluid" alt="Gdansk Old Town"/>
            <a class="city-flats-info" href="#">Gdańsk. Wolnych mieszkań: {{available_flats_gda}}</a>
          </div>
        </div>
        <div id="gdy-logo" class="city-logo col-12 col-md-4">
          <div class="overlay">
            {% load static %}
            <img src="{% static 'img/gdynia-menu-photo.jpg'%}" class="img-fluid" alt="Gdynia center"/>
            <a class="city-flats-info" href="#">Gdynia. Wolnych mieszkań: {{available_flats_gdy}}</a>
          </div>
        </div>
        <div id="sop-logo" class="city-logo col-12 col-md-4">
          <div class="overlay">
            {% load static %}
            <img src="{% static 'img/sopot-menu-photo.jpg'%}" class="img-fluid" alt="Sopot bird view"/>
            <a class="city-flats-info" href="#">Sopot. Wolnych mieszkań: {{available_flats_sop}}</a>
          </div>
        </div>
      <div id="form-cont" class="justify-content-md-center">
        <form action="search/" method="get">
          {% csrf_token %}
          <div  class="input-group date" data-provide="datepicker">
            <input name="first-day-date" type="text" class="form-control" placeholder="From..." autocomplete="off">
            <div class="input-group-addon">
                <span class="glyphicon-th"></span>
            </div>
          </div>
          <div  class="input-group date" data-provide="datepicker">
            <input name="last-day-date" type="text" class="form-control" placeholder="To..." autocomplete="off">
            <div class="input-group-addon">
                <span class="glyphicon-th"></span>
            </div>
          </div>
          <div class="input-group">
            <select id="city" name="city-name" class="form-control">
                <option value="gda-logo">Gdańsk</option>
                <option value="gdy-logo">Gdynia</option>
                <option value="sop-logo">Sopot</option>
              </select>
          </div>
          <a href="{url 'flats_list'}"><button type="submit" name="submit-city-date" class="btn btn-info">Search</button></a>
        </form>
      </div>
    </div>
  </section>
</article>
{% endblock %}
