{% extends "base_generic.html" %}

{% block content %}
<header>
  <h1>Step 2. Set a date and pick your appartment </h1>
</header>
<article>
  <section>
    <div class="container-fluid">
      <div id="form-cont" class="justify-content-md-center">
        <form id="myform" action="" method="GET">
          {% csrf_token %}
          <div class="input-group form-parts">
            {{ form.data_wynajecia }}
            <div class="input-group-addon">
                <span class="glyphicon-th"></span>
            </div>
          </div>
          <div class="input-group form-parts">
            {{ form.data_oddania }}
            <div class="input-group-addon">
                <span class="glyphicon-th"></span>
            </div>
          </div>
          <div class="form-parts">
            <input type="submit" name="Submit" class="btn btn-info" value="Search">
          </div>
          <div class="clearboth">

          </div>
        </form>
    </div>
    <div id="flat-list">
      <ul>
        {% for flats in cityname_filter %}
         <li>
           {{flats.adres}}
           {{cityname}}
           {{s}}
         </li>
         {% endfor %}
      </ul>
    </div>
  </section>
</article>
{% endblock %}
