{% extends "base_generic.html" %}

{% block content %}
<header>
  <h1>If you are going to rent our flat becareful! The are equipped with seven seasons The Game of Thrones.</h1>
</header>
<article>
  <section>
    <div class="container-fluid">
      <div class="jumbotron">
        <h2 class="display-4">Hello, friend! We've got {{ available_flats }} available flats!</h2>
        <p class="lead">Looking for a short term flat? You're in the right place!</p>
        <hr class="my-4">
        <p>We offer flats in Gdańsk, Gdynia, Sopot.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url 'rental_form' %}" role="button">Go!  </a>
        </p>
      </div>
    </div>
  </section>
</article>
{% endblock %}
