{% extends "base_generic.html" %}

{% block content %}
<header>
  <h1>Step 1. Choose a city</h1>
</header>
<article>
  <section>
    <div class="container-fluid">
      <a href="#">
        <div id="gda-logo" class="city-logo col-12 col-md-4">
          <div class="overlay">
            {% load static %}
            <img src="{% static 'img/gdansk-menu-photo.jpg'%}" class="img-fluid" alt="Gdansk Old Town"/>
            <a class="city-flats-info" href="#">Gdańsk. Wolnych mieszkań: {{available_flats_gda}}</a>
          </div>
        </div>
      </a>
      <a href="#">
        <div id="gdy-logo" class="city-logo col-12 col-md-4">
          <div class="overlay">
            {% load static %}
            <img src="{% static 'img/gdynia-menu-photo.jpg'%}" class="img-fluid" alt="Gdynia center"/>
            <a class="city-flats-info" href="#">Gdynia. Wolnych mieszkań: {{available_flats_gdy}}</a>
          </div>
        </div>
      </a>
      <a href="#">
        <div id="sop-logo" class="city-logo col-12 col-md-4">
          <div class="overlay">
            {% load static %}
            <img src="{% static 'img/sopot-menu-photo.jpg'%}" class="img-fluid" alt="Sopot bird view"/>
            <a class="city-flats-info" href="#">Sopot. Wolnych mieszkań: {{available_flats_sop}}</a>
          </div>
        </div>
      </a>
      <div id="form-cont" class="justify-content-md-center">
        <form>
          <div  class="input-group date" data-provide="datepicker">
            <input name="first-day-date" type="text" class="form-control" placeholder="From...">
            <div class="input-group-addon">
                <span class="glyphicon-th"></span>
            </div>
          </div>
          <div  class="input-group date" data-provide="datepicker">
            <input name="last-day-date" type="text" class="form-control" placeholder="To...">
            <div class="input-group-addon">
                <span class="glyphicon-th"></span>
            </div>
          </div>
          <button type="submit"  name="submit" class="btn btn-info">Search</button>
        </form>
    </div>
    </div>
  </section>
</article>
{% endblock %}
